@import url('https://fonts.googleapis.com/css?family=Allura|Candal');
@import url('https://fonts.googleapis.com/css?family=Lobster');

header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
aside {
background-color: #E8C66A;	
}

h1 {
	font-family: 'Candal', sans-serif;
	font-size: 40px
}

h2 {
   font-family: 'Allura', cursive;
   font-size: 50px

}

h3 {
    font-family: 'Pacifico', cursive;
    font-size: 30px

}

body {
	background-color: black;
}

.img {
	display: block;
}

h1, h2  {
		 text-align: center;		
}
		
h1, h2, h3, ul, p {
	color: 000;
}


* {
	padding: 20;
	margin: 20;
}

nav {
	background-color: #E8C66A;
	height: 50px;
}
nav ul {

}
nav ul li {
	list-style-type: none;
	width: 150px;
    float: right;
    border-right: 1px solid #ccc;
    text-align: center;
}

nav li a {
	text-decoration: none;
	color: white;
	line-height:50px;
	display: block; 

}

nav .nav {
	height: 3px
}
footer {
    width: 100%;
	margin-right: 0 auto;
}

li a .hover {
	background-color: blue;
	color:white;
}

h3 ul li {
     color: white;
}
	 
p {
	font-size: 25px;
 }

footer {
	background-color:#FF957E;
    padding: 30px
    }

div, section {
	background-color: #FFE2B8;
	} 

div {
	font-size: 1em;
	display: inline-block;
	width: 29%;
	padding-left:1.5%;
	padding-right: 1.5%; 
}
strong {
	font-size: 20px
} 
#food {
	float: left;
	 background-color: violet;
     margin: 20px; 

}

#artist {
	float: left;
	background-color: #E55B88;
	margin-right: 20px;

}

#sing {
	float: left;
	 background-color: pink;

}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}


#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 32%;
    height: 800px;
    overflow: hidden;
}

#left img, #right img {
    width: 100%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: left;   
    width: 62%;
    height: 800px;
    overflow: hidden;
}


#Beginingofparagraph, strong  {
    float: none;
    clear: both;
    width: 100%;
    display: block;
}

